{% extends 'main/base.html' %}
{% block title %}Fun site{% endblock %}
{% block content %} 
<div class="info-home">
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="bg-body-tertiary p-5 rounded">
        <div class="col-sm-8 py-5 mx-auto text-center">
            <h1 class="display-5 fw-normal">Fan site of the football club Shakhtar</h1>
            <p class="fs-5">Football Club Shakhtar Donetsk (Ukrainian: Футбольний клуб «Шахтар» Донецьк, short nickname "miners") is a Ukrainian professional football club from the city of Donetsk. In 2014, due to the War in Donbas, the club was forced to move to Lviv, and had played matches in Lviv (2014–2016) and in Kharkiv (2017–2020) whilst having its office headquarters and training facilities in Kyiv. In May 2020, Shakhtar started to play home matches at NSC Olimpiyskyi in Kyiv.
                Shakhtar has appeared in several European competitions and is often a participant in the UEFA Champions League. The club became the first club in independent Ukraine to win the UEFA Cup in 2009, the last year before the competition was revamped as the Europa League. FC Shakhtar Donetsk is one of two Ukrainian clubs, the other being Dynamo Kyiv, who have won a major UEFA competition.
            </p>
            <b class="text-info">This is a site where you can create and read news about your favorite club</b>
        </div>
    </div>
</div>
</div>

{% endblock %}